*
!picom.conf
!zoomus.conf
!mimeapps.list
!.gitignore

!fish
!fish/**

!nvim
!nvim/**

!polybar
!polybar/**

!gtk-3.0
!gtk-3.0/**

!Configs
!Configs/**

!nitrogen
!nitrogen/**

!ibus
!ibus/**

!GIMP
!GIMP/**

!lxsession-default-apps
!lxsession-default-apps/**

!pulse
!pulse/**

!pcmanfm
!pcmanfm/**

!sublime-text-3/Packages/User
!sublime-text-3/Packages/User/**

!sublime-text-3/Packages/C++
!sublime-text-3/Packages/C++/**

!openbox
!openbox/**

!tint2
!tint2/**

!geany
!geany/**

!bleachbit
!bleachbit/**
